#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: 'Lexend', serif;
}

body {
  background-color: #F3F7E9;
}

header a.active {
  font-weight: 650;
}

a.active {
  color: #3a5668;
  font-weight: 500;
}

.text-shad {
  text-shadow: rgba(0, 0, 0, 0.253) 0 4px 2px;
}

/* ----- Hovers ---- */

.darkBlue-hover li:hover {
  --tw-text-opacity: 1;
    color: rgb(58 86 104 / var(--tw-text-opacity, 1)) /* #3a5668 */;
}

.lightBlue-hover li:hover {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity, 1)) /* #cbd5e1 */;
}