#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: 'Lexend', serif;
}

body {
  background-color: #F3F7E9;
}

header a.active {
  font-weight: 650;
}

a.active {
  color: #3a5668;
  font-weight: 500;
}