@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: "Lexend", serif;
}

body {
  background-color: #f0f5f1;
}

header a.active {
  font-weight: 650;
  color: #384a44;
}

a.active {
  color: #3a5668;
  font-weight: 500;
}

.text-shad {
  text-shadow: rgba(0, 0, 0, 0.253) 0 4px 2px;
}

/* ---- Fonts ---- */

.source-serif-4-font {
  font-family: "Source Serif 4", serif;
}

/* ----- Hovers ---- */

.darkBlue-hover li:hover {
  color: #3a5668;
}

.lightBlue-hover li:hover {
  color: #cbd5e1;
}

.darkGreen-hover a:hover,
.darkGreen-hover li:hover {
  color: #384a44;
}
